body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(0deg, #808040 0%, #00ff80 66%);
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #2bb6b2;
}

p {
  font-size: 18px;
}

h2 {
  margin-top: 20px;
  
}

#box {
  width: 260px;
  height: 120px;
  padding: 10px;
  font-size: 18px;
  resize: none;
  border: 11px groove #837c7c;;
}

button {
  font-size: 16px;
  padding: 10px 16px;
  cursor: pointer;
  margin: 8px;
}

.buttons {
  margin-top: 20px;
}

#reward1,
#reward2,
#reward3 {
  display: none;
  margin-top: 25px;
  width: 250px;
  max-width: 90%;
}